.main {
  padding: 20px;
  line-height: 200%;
}

.tree ul {
  /* display: flex; */
  /* flex-direction: column; */
  padding-left: 28px;
}
.name {
  background: rgb(112, 112, 238);
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
  margin: 7px 0;
  font-weight: bold;
}

.buttonAdd {
  margin-top: 14px;
}

.tutorial {
  line-height: normal;
  margin-top: 20px;
}